div.custom-nav {
	background-color: rgb(184, 3, 3);
	/*  */
}

body.worker-bg {
	background-image: url("worker_statue.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

div.fix-right button {
	background-color: brown;
	border: 10pt;
	position: fixed;
	bottom: 4px;
	right: 10px;
}